<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitCheck</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>

  <header>
    <div class="logo">FitCheck</div>
    <nav>
      <a href="#" id="signupbttn">Sign Up</a>
      <a href="#" id="loginbttn">Login</a>
      <a href="#">About</a>
    </nav>
  </header>

  <section class="hero">
    <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e" alt="Hero">
    <div class="hero-content">
      <h2>FitCheck</h2>
      <p>Your Online Personal Closet</p>
      <a href="#" class="btn" id="getStartedBtn">Get Started</a>
      <a href="/main" class="btn" style="margin-left: 10px; background: #222; color: white; border: 1px solid #555;">Preview Main Page</a>


    </div>
  </section>
  <!-- sign up popup-->
 <div id="signupPopup" class="popup hidden "> <!-- nebi - remove the word hidden to see popup-->
    <div class="popup-content glass">
      <span id="closePopUp" class="close">&times;</span>
      <h2>Create Account</h2>
      <form id="signupForm">
        <input type="text" placeholder="Username" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <button type="submit" class="btn full">Sign Up</button>
      </form>
    </div>
  </div>
   <div id="loginPopup" class="popup hidden "> <!-- nebi - remove the word hidden to see popup-->
    <div class="popup-content glass">
      <span id="closeloginPopUp" class="close">&times;</span>
      <h2>Login</h2>
      <form id="LoginForm">
        <input type="text" placeholder="Username" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <button type="submit" class="btn full">Login</button>
      </form>
    </div>
  </div>
   <div id="logoutPopup" class="popup hidden "> <!-- nebi - remove the word hidden to see popup-->
    <div class="popup-content glass">
      <span id="closeloginPopUp" class="close">&times;</span>
      <h2>Login</h2>
        <button type="submit" class="btn full">Logout</button>
      </form> 
    </div>
  </div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
